/*************************************TAG SELECTORS*********************************************/
body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  font-size: 5.265rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

/*************************************CLASS SELECTORS********************************************/
.top-container {
  padding-top: 100px;
  background-color: #f1ecc3;
  position: relative;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-img1 {
  width: 25%;
  float: left;
  padding-right: 30px;
}
.skill-img2 {
  width: 25%;
  float: right;
  padding-left: 30px;
}
.intro {
  width: 30%;
  margin: auto;
}

.middle-container {
  margin: 100px 0;
}
.bottom-container {
}
.profile-pic {
  width: 15%;
}
.circular {
  border-radius: 100%;
}

.bottom-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.top-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

/*************************************ID SELECTORS***********************************************/
